<html>
<body>

<h3>{{ action }} transaction</h3>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% if transaction %}

<p>Transaction at {{transaction.venue}} on {{transaction.date}} added.</p>
<p><a href="/">Back to transcation list</a></p>

{% endif %}


<!-- The form action and method correspond to a Flask route -->
<form action="/add" method="POST">
<div>
<label for="date_id">Date</label>
<input id="date_id" name="date_field" type="date">

<label for="venue_id">Venue</label>
<input id="venue_id" name="venue_field" type="text" />

<label for="cost_id">Total cost</label>
<input id="cost_id" name="cost_field" type="text" />

<label for="payer_id">Payer</label>
<input id="payer_id" name="payer_field" type="text" />

<label for="attendees_id">Attendees</label>
<input id="attendees_id" name="attendees_field" type="text" />
</div>

<!-- We need a submit button to submit a form! -->
<input type="submit" value="Add" style="margin-top:30px"/>

</form>

</body>
</html>
