{% from "util.html" import render_field %}
<form id="AddTransactionForm" class="form form-register" method="POST" action="" role="form">
  {{ add_transaction_form.hidden_tag() }}
  {{ add_transaction_form.date.label() }}
  <!-- Note that the date type will return date in the format YYYY-MM-DD. -->
  {{ add_transaction_form.date(type="date") }}<br><br>
  {{ render_field(add_transaction_form.venue, placeholder="Venue of transaction") }}<br>
  {{ render_field(add_transaction_form.cost, placeholder="Cost of transaction") }}<br>
  {{ render_field(add_transaction_form.payer, placeholder="Who paid") }}<br>
  {{ render_field(add_transaction_form.attendees, placeholder="List of attendees") }}<br>

  <p><input class="btn btn-default btn-submit" type="submit" value="Add"></p>
</form>
